= form_for @plugin do |f|
  - if @plugin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plugin.errors.count, "error")} prohibited this plugin from being saved:"
      %ul
        - @plugin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name,
    = f.text_field :name,
  .field
    = f.label :setting,
    = f.text_field :setting,
  .field
    = f.label :class_name,
    = f.text_field :class_name,
  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions
    = f.submit 'Save'
