.container
  .row
    .col-lg-9
      %h1 Настройка модулей
    .col-lg-3.for-title
      = link_to t('new_setting_plugin'), new_plugin_path, :class=>"btn btn-success btn-sm btn-block"



.container
  .row
    .col-lg-12

      %table.table
        %thead
          %tr
            %th=t 'name'
            %th=t 'module'
            %th{:width => '68px'}

        %tbody
          - @plugins.each do |plugin|
            -if class_exists?(plugin.class_name)
              %tr{:class=> plugin.test ? 'success' : 'warning'}
                %td
                  = link_to plugin do
                    = plugin.name

                %td
                  
                  - p = eval(plugin.class_name).info
                  = p[:name][I18n.locale]

                %td
                  = link_to edit_plugin_path(plugin), :class=> 'btn btn-xs btn-1' do
                    %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  = link_to plugin, :class=> 'btn btn-xs btn-1', :method => :delete, :data => { :confirm => 'Are you sure?' } do 
                    %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
