%h1 Listing plugins

%table.table
  %thead
    %tr
      %th Name
      %th Class name
      %th
      %th
      %th

  %tbody
    - @plugins.each do |plugin|
      %tr{:class=> plugin.test ? 'success' : 'warning'}
        %td= plugin.name
        %td= plugin.class_name
        %td= link_to 'Show', plugin
        %td= link_to 'Edit', edit_plugin_path(plugin)
        %td= link_to 'Destroy', plugin, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plugin', new_plugin_path
