.container
  .row
    .col-lg-12


      %h1 Шаблон настройки модуля


      %dl.dl-horizontal
        %dt Название
        %dd= @plugin.name
        
        %dt Модуль
        %dd= eval(@plugin.class_name).info[:name][I18n.locale]

        - @plugin.setting.each do |s|
          %dt= s[0]
          %dd= s[1]




      = link_to 'Edit', edit_plugin_path(@plugin)
      \|
      = link_to 'Back', plugins_path
