.container
  .row
    .col-lg-5
      #affix_sidebar
        = form_for @project, :method => "post" do |f|
          =f.hidden_field :def,         :value => "edit"
          =f.hidden_field :current_url, :value => "#{@urls[:result].first}"
          =f.hidden_field :id,          :value => "#{@project.id}"

          - if @project.errors.any?
            #error_explanation
              %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
              %ul
                - @project.errors.full_messages.each do |msg|
                  %li= msg

          .form-group.p_url_add_group
            %label.control-label{:for => "p_field_add"} &nbsp;
            .input-group
              %span#basic-addon3.input-group-addon 
                = "Название поля"
              %input.form-control{:type => "text", 
                                  :name=>"field_add",
                                  :placeholder => "Пример: name"}/
              .input-group-btn
                %button.btn.btn-info.p_field_add{:type => "button"} +

          #fields-accordion.panel-group.panel-group-lists

    .col-lg-7
      %h3.title_current_url
        =raw "#{@project.url}<small>/</small>"

      #p_tabs.panel
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "t-urls", "data-toggle" => "tab", :href => "#t-urls", :role => "tab"} 
              Ссылки
          %li{:role => "presentation"}
            %a{"aria-controls" => "t-code", "data-toggle" => "tab", :href => "#t-code", :role => "tab"} 
              HTML код
          %li{:role => "presentation"}
            %a{"aria-controls" => "t-result", "data-toggle" => "tab", :href => "#t-result", :role => "tab"} 
              Результат
          %li{:role => "presentation"}
            %a{"aria-controls" => "t-settings", "data-toggle" => "tab", :href => "#t-settings", :role => "tab"} 
              Настройки

        / Tab panes

        .tab-content
          #t-urls.tab-pane.active{:role => "tabpanel"}
            %h3
            %ul
              %li{:class => "active"}
                %a{:href => "#/", :class=>"p_url_change",:title=>"/"}
                  =@project.url
              -@urls[:result].each do |u|
                %li
                  %a{:href => "##{u}", :class=>"p_url_change",:title=>"#{u}"}
                    =raw "#{@project.url}#{u}"

          #t-code.tab-pane{:role => "tabpanel"}
            -formatter = Rouge::Formatters::HTML.new()
            -h_formatter = Rouge::Formatters::HTMLPygments.new(formatter, 'highlight')
            -lexer = Rouge::Lexers::HTML.new()
            = preserve do
              = raw h_formatter.format(lexer.lex(@html))
          #t-result.tab-pane{:role => "tabpanel"}
            %h3
            #pre
          #t-settings.tab-pane{:role => "tabpanel"}
            = fields_for :setting do |s|
              .panel.panel-default
                .panel-heading
                  %h4
                    Правила сбора URL
                .panel-body

                  .form-group
                    %label
                      =s.radio_button :option_url, "recursion", 
                                      :type => "radio",
                                      :class => "icheck", 
                                      :data => {:skin=>"square", :color=>"green"},
                                      :checked => !@project.setting.nil? && @project.setting["option_url"] == "recursion" ? true : false
                      Рекурсивно 
                    #recursion_hs
                      .input-group.include-str
                        %span.input-group-addon
                          Включить&nbsp;&nbsp;
                        = s.text_field :include_str,  :placeholder => "example: /product/", 
                                                      :class       => "form-control",
                                                      :value       => @project.setting.nil? ? '' : @project.setting["include_str"]
                      .input-group.exclude-str
                        %span.input-group-addon
                          Исключить
                        = s.text_field :exclude_str, :placeholder => "example: /category/", 
                                                     :class       => "form-control",
                                                     :value       => @project.setting.nil? ? '' : @project.setting["exclude_str"]


                      .checkbox#CbOnlyPath
                        %label
                          = s.check_box :only_path, :class => "icheck", 
                                                    :data => {:skin=>"square", :color=>"green"},
                                                    :checked => @project.setting.nil? ? false : @project.setting["only_path"] == 'true'
                          Брать URL только с 
                          %b
                            главной
                      .input-group
                        %span.input-group-addon
                          Относительный путь
                        = s.text_field :only_path_field,  :placeholder => "example: /news", 
                                                          :class       => "form-control",
                                                          :value       => @project.setting.nil? ? '' : @project.setting["only_path_field"]
                  .form-group.hide
                    %label
                      =s.radio_button :option_url, "range", 
                                      :type  => "radio",
                                      :class => "icheck", 
                                      :data => {:skin=>"square", :color=>"green"}, 
                                      :checked => !@project.setting.nil? && @project.setting["option_url"] == "range" ? true : false

                      Диапазон URL
                    #range_hs
                      = s.text_field :range_str,  :placeholder => "example: /product/{{1-100}}", 
                                                  :class       => "form-control",
                                                  :disabled    => "disabled",
                                                  :value       => @project.setting.nil? ? '' : @project.setting["range_str"]
                                 
                  .form-group.hide                              
                    %label
                      =s.radio_button :option_url, "list", 
                                      :type => "radio",
                                      :class => "icheck", 
                                      :data => {:skin=>"square", :color=>"green"},
                                      :checked => !@project.setting.nil? && @project.setting["option_url"] == "list" ? true : false
                      Собственный список URL
                    #list_hs
                      = s.text_area :list_str,  :rows        => "6", 
                                                :placeholder => "example: /product/1 \r /product/2", 
                                                :class       => "form-control",
                                                :disabled    => "disabled",
                                                :value       => @project.setting.nil? ? '' : @project.setting["list_str"]
              .panel.panel-default
                .panel-heading
                  %h4
                    Событие нового URL
                .panel-body
                  .form-group
                    %label
                      Плагин выгрузки
                    = s.select :class_name, [[t('not_use_out'), 0]] + @plugins.map{|i| [i.name, i.id]}, {:selected => !@project.setting.nil? && !@project.setting['plugin'].nil? && !@project.setting['plugin']['id'].nil? ? @project.setting['plugin']['id'] : 0}, :class=>"OutPlugin_select"
                  
              =s.button :class=> "btn btn-success btn-sm btn-block", :id => "ButtonSetting" do
                %span.glyphicon.glyphicon-ok
                Сохранить настройки





  //= link_to 'Show', @project
  //= link_to 'Back', projects_path
