%h1 Listing projects

%table.table
  %thead
    %tr
      %th{:width => '40px'}
      %th Name
      %th Url
      %th Status
      %th url all
      %th url parse

      %th{:width => '96px'}
      %th{:width => '152px'}

  %tbody
    - @projects.each do |project|
      %tr
        %th
          %button.btn.btn-default.btn-xs{:type => "button", :disabled=>false}
            %span.glyphicon.glyphicon-refresh{"aria-hidden" => "true"}

        %td= project.name
        %td= project.url
        %td= project.status
        %td= project.urls.count
        %td= project.urls.where(:parse => true, :skip => false).count
        %td
          = link_to project, :class=> 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-list-alt{"aria-hidden" => "true"}
          = link_to edit_project_path(project), :class=> 'btn btn-default btn-xs' do 
            %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
          = link_to project, :class=> 'btn btn-default btn-xs', :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
        %td
          %button.btn.btn-default.btn-xs{:type => "button", :disabled=>false}
            %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
          %button.btn.btn-default.btn-xs{:type => "button", :disabled=>false}
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
          %button.btn.btn-default.btn-xs{:type => "button", :disabled=>false}
            %span.glyphicon.glyphicon-forward{"aria-hidden" => "true"}
          %button.btn.btn-default.btn-xs{:type => "button", :disabled=>false}
            %span.glyphicon.glyphicon-repeat{"aria-hidden" => "true"}
          %button.btn.btn-default.btn-xs{:type => "button", :disabled=>false}
            %span.glyphicon.glyphicon-stop{"aria-hidden" => "true"}      

%br

= link_to 'New Project', new_project_path
